@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@800;900&display=swap");
.rubros div, .contactos, .contactos .globos form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

header nav, header nav .navbar .navbar-expand-lg, .productos-des div div {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*!------FUENTE -------*/
/*!------RESET-------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.navbar-nav li .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.25vw; }

@media screen and (max-width: 480px) {
  .navbar-nav li .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 2.5vw; } }

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3; }
  header nav {
    background-color: #e40000; }
    header nav .navbar {
      padding: 0.15vw; }
    header nav .navbar .navbar-expand-lg {
      background-color: #e40000;
      width: 100%; }
    header nav div h1 {
      margin: 0px; }
      header nav div h1 .navbar-brand {
        color: white;
        font-size: 4vw;
        font-family: "Roboto Slab", serif;
        font-weight: 800;
        text-decoration: none;
        margin: 0px;
        padding-top: 0.25vw;
        padding-bottom: 0.25vw; }
        header nav div h1 .navbar-brand:hover {
          color: white; }
    header nav div .navbar-toggler {
      border: unset;
      color: unset;
      width: 5vw;
      height: 5vw;
      padding: unset; }
      header nav div .navbar-toggler .navbar-toggler-icon {
        width: 4vw;
        height: 4vw;
        vertical-align: unset; }
    header nav div .collapse {
      color: white; }
    header nav div .navbar-collapse {
      flex-grow: unset; }
    header nav div div .navbar-nav {
      display: flex;
      flex-direction: row;
      color: unset; }
      header nav div div .navbar-nav .nav-item {
        padding: 0.1vw 1.5vw 0.1vw 1.5vw; }
        header nav div div .navbar-nav .nav-item .nav-link {
          padding: unset; }

/*!------RUBROS INDEX-----*/
.rubros {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .rubros div {
    width: 50vw;
    height: 22vw;
    border: 1px solid black;
    border-radius: 1vw;
    margin: 0.5vw;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); }
    .rubros div h2 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      color: black;
      font-size: 4vw;
      margin: 0.5vw; }
    .rubros div a p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      color: black;
      font-size: 2vw;
      text-align: center;
      margin: 0.5vw; }

/*!------PRODUC DEST INDEX-----*/
.productos-des h2 {
  background-color: #e40000;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vw;
  border: 1px solid black;
  border-radius: 1vw;
  margin: 0.35vw;
  padding: 0.35vw 1.05vw 0.35vw; }

.productos-des div {
  display: flex;
  justify-content: space-evenly; }
  .productos-des div div {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    flex-direction: column;
    background-color: #696969;
    width: 17vw;
    height: 35vw;
    text-align: center;
    border-radius: 1vw;
    margin: 1vw;
    box-shadow: 10px 10px 30px -1px rgba(3, 3, 3, 0.56);
    -webkit-box-shadow: 10px 10px 30px -1px rgba(3, 3, 3, 0.56);
    -moz-box-shadow: 10px 10px 30px -1px rgba(3, 3, 3, 0.56); }
    .productos-des div div img {
      width: 17vw;
      height: 20vw;
      border-radius: 0.5vw 0.5vw 0px 0px; }
    .productos-des div div h3 {
      font-size: 1.25vw;
      color: black;
      margin: 2vw;
      text-decoration: underline; }
    .productos-des div div a {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      border: 1px solid black;
      background-color: #e40000;
      color: white;
      padding: 0.5vw 1vw 0.5vw 1vw;
      margin: 1vw;
      border-radius: 1vw;
      font-size: 1vw; }
      .productos-des div div a:hover {
        background-color: white;
        color: #696969; }

/*!------ALIANZAS COM INDEX-----*/
.alianzas h2 {
  background-color: #e40000;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vw;
  border: 1px solid black;
  border-radius: 1vw;
  margin: 0.35vw;
  padding: 0.35vw 1.05vw 0.35vw; }

.alianzas div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.5vw; }
  .alianzas div img {
    width: 12vw;
    height: 4vw;
    margin: 1vw;
    border: solid 0.25vw white;
    border-radius: 1vw;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); }

/*!------NOSOTROS-----*/
.nuestra-his {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  .nuestra-his h2 {
    font-size: 2vw;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    margin: 1vw; }
  .nuestra-his section h3 {
    font-size: 2vw;
    margin: 3vw 0vw 1vw 3vw; }
  .nuestra-his section div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0vw 2vw 1vw 2vw; }
    .nuestra-his section div p {
      font-size: 1.5vw;
      text-align: left; }
    .nuestra-his section div div img {
      width: 50vw;
      height: 20vw;
      border-radius: 1vw;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); }
    .nuestra-his section div div .narciso {
      width: 20vw;
      height: 20vw;
      border-radius: 1vw; }
    .nuestra-his section div div .div-ferret {
      display: flex;
      flex-direction: column; }

/*!------CONSTRUCCION-----*/
.ferreteria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30vw;
  gap: 2vw;
  padding: 2vw; }
  .ferreteria .estufas-varias {
    grid-row: span 2; }
  .ferreteria .estufa {
    grid-row: span 2; }
  .ferreteria .prod-mat img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    object-fit: cover;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); }

/*!------AGROINDUSTRIA-----*/
.agroindustria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30vw;
  gap: 2vw;
  padding: 2vw; }
  .agroindustria .tubos-alc {
    grid-row: span 3;
    grid-column: span 3; }
  .agroindustria .bebederos-25-60-180 {
    grid-row: span 2;
    grid-column: span 2; }
  .agroindustria .com-feed {
    grid-row: span 2;
    grid-column: span 2; }
  .agroindustria .prod-agro img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    object-fit: cover;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); }

/*!------CONTACTO-----*/
.contactos h2 {
  font-size: 2vw;
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  margin: 1vw; }

.contactos .globos {
  background-color: #92929281;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid black;
  border-radius: 1vw;
  width: 40%;
  height: 90%;
  margin: 2vw;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); }
  .contactos .globos form div {
    margin: 1vw; }
    .contactos .globos form div label {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 1.5vw;
      font-weight: 700; }
    .contactos .globos form div input {
      border: 1px solid black;
      border-radius: 1vw;
      width: 20vw;
      height: 2vw;
      padding-left: 0.5vw; }
    .contactos .globos form div h3 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 1.5vw;
      font-weight: 700; }
    .contactos .globos form div select {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 1vw;
      border: 1px solid black;
      border-radius: 1vw;
      width: 20vw;
      height: 2vw; }
      .contactos .globos form div select option {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 1vw; }
    .contactos .globos form div textarea {
      border: 1px solid black;
      border-radius: 1vw;
      width: 25vw;
      height: 10vw;
      padding: 0.5vw;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 1vw; }
    .contactos .globos form div .botones {
      background-color: #e40000;
      color: white;
      margin: 0.5vw;
      border: 1px solid black;
      border-radius: 1vw;
      width: 10vw;
      height: 2vw;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 1.25vw; }

.pie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  background-color: #797979b7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3vw;
  justify-content: space-evenly;
  align-items: center; }
  .pie-grid .foot-cont .mapa {
    margin: 1.5vw;
    width: 12vw;
    height: 12vw;
    border: 1px solid black;
    border-radius: 1vw; }
  .pie-grid .foot-cont .foot-nav .foot-nav-item {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .pie-grid .foot-cont .foot-nav .foot-nav-item a {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      color: white;
      font-size: 1.3vw; }
  .pie-grid .foot-cont .pie-prod .pie-prod-item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .pie-grid .foot-cont .pie-prod .pie-prod-item a {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      color: white;
      font-size: 1.3vw; }
  .pie-grid .foot-cont ul li {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; }
    .pie-grid .foot-cont ul li a {
      display: flex;
      justify-content: space-between;
      margin: 0.25vw 0.5vw 0.25vw 0.5vw;
      width: 2vw;
      height: 2vw; }

@media screen and (max-width: 991px) {
  .productos-des h2 {
    text-align: center;
    font-size: 2.5vw; }
  .productos-des div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center; }
    .productos-des div div {
      display: flex;
      flex-direction: column; }
  .alianzas h2 {
    text-align: center;
    font-size: 2.5vw; }
  .alianzas div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; }
  .ferreteria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 60vw; }
    .ferreteria .estufas-varias {
      grid-row: unset; }
    .ferreteria .estufa {
      grid-row: unset; }
    .ferreteria .prod-mat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .ferreteria .prod-mat img {
        border-radius: 1vw;
        object-fit: cover; }
  /*!------AGROINDUSTRIA------*/
  .agroindustria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 46vw; }
    .agroindustria .tubos-alc {
      grid-row: unset;
      grid-column: unset; }
    .agroindustria .bebederos-25-60-180 {
      grid-row: unset;
      grid-column: unset; }
    .agroindustria .com-feed {
      grid-row: unset;
      grid-column: unset; }
    .agroindustria .prod-agro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .agroindustria .prod-agro img {
        border-radius: 1vw;
        object-fit: contain; }
  /*!------NOSOTROS------*/
  .nuestra-his h2 {
    font-size: 3vw; }
  .nuestra-his section h3 {
    font-size: 3vw; }
  .nuestra-his section div p {
    font-size: 2vw; }
  .nuestra-his section div .hist-ferr {
    display: flex;
    flex-direction: column-reverse; }
  .nuestra-his section .hist-prem {
    display: flex;
    flex-direction: column; }
    .nuestra-his section .hist-prem p {
      font-size: 2vw; }
  .nuestra-his section .hist-nues {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 480px) {
  .barra-nav {
    display: flex;
    flex-direction: column;
    position: static; }
    .barra-nav nav div h1 {
      padding: 0px; }
      .barra-nav nav div h1 a {
        font-size: 8vw; }
    .barra-nav nav div div ul li {
      padding: 0px;
      margin: 0vw 1vw 0vw 1vw; }
  /*!------IND------*/
  main .carousel {
    display: none; }
  main .rubros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .rubros div {
      margin: 0.25vw;
      width: 75vw;
      height: 20vw;
      box-shadow: none; }
      main .rubros div h2 {
        font-size: 5vw; }
      main .rubros div a p {
        font-size: 2.5vw; }
  main .productos-des h2 {
    text-align: center;
    font-size: 4vw; }
  main .productos-des div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3, 1fr;
    justify-items: center; }
    main .productos-des div div {
      display: flex;
      flex-direction: column;
      width: 25vw;
      height: 45vw; }
      main .productos-des div div img {
        width: 25vw;
        height: 25vw; }
      main .productos-des div div h3 {
        font-size: 3vw; }
      main .productos-des div div a {
        font-size: 2.5vw; }
    main .productos-des div .taladro {
      grid-column: span 2; }
  main .alianzas {
    display: none; }
  main .ferreteria {
    width: 100%;
    display: flex;
    flex-direction: column; }
    main .ferreteria .prod-mat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .ferreteria .prod-mat img {
        width: 60%;
        height: 70%;
        border-radius: 1vw;
        object-fit: contain; }
  main .agroindustria {
    width: 100%;
    display: flex;
    flex-direction: column; }
    main .agroindustria .prod-agro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .agroindustria .prod-agro img {
        width: 60%;
        height: 70%;
        border-radius: 1vw;
        object-fit: cover; }
  /*!------NOSOTROS------*/
  h2 {
    font-size: 4vw; }
  section h3 {
    font-size: 4vw; }
  section div p {
    font-size: 3vw; }
  section div .hist-ferr {
    display: flex;
    flex-direction: column-reverse; }
  section div .hist-nues {
    display: flex;
    flex-direction: column; }
  section .hist-prem {
    display: flex;
    flex-direction: column; }
    section .hist-prem p {
      font-size: 3vw; }
  /*!------CONTACTOS------*/
  .contactos h2 {
    font-size: 4vw; }
  .contactos .globos {
    width: 70vw;
    height: 75vh; }
    .contactos .globos form div label {
      font-size: 3vw; }
    .contactos .globos form div input {
      width: 60vw;
      height: 6vw; }
    .contactos .globos form div h3 {
      font-size: 3vw; }
    .contactos .globos form div select {
      font-size: 3vw;
      width: 60vw;
      height: 6vw; }
    .contactos .globos form div textarea {
      width: 60vw;
      height: 20vw;
      font-size: 3vw; }
    .contactos .globos form div .botones {
      width: 20vw;
      height: 4vw;
      font-size: 2.5vw; }
  /*!------FOOTER------*/
  .pie-grid {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .pie-grid .foot-cont .mapa {
      width: 5vw;
      height: 5vw; }
    .pie-grid .foot-cont .foot-nav {
      display: none; }
    .pie-grid .foot-cont .pie-prod {
      display: none; }
    .pie-grid .foot-cont ul {
      display: flex;
      flex-direction: row;
      margin-bottom: unset; }
      .pie-grid .foot-cont ul li a {
        width: 5vw;
        height: 5vw; } }
