header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
    nav{
        @extend %flex-2;
        background-color: $color-fondo-nav-titulos-bot;
    .navbar{
        padding: 0.15vw;
    }
    .navbar .navbar-expand-lg{
        @extend %flex-2;
        background-color: $color-fondo-nav-titulos-bot;
        width: 100%;
    }
        div{
            h1{
                margin: 0px;
                .navbar-brand{
                    color: $color-letras-alt;
                    font-size: nth($font-size, 8);
                    font-family: $font-fam-empr;
                    font-weight: 800;
                    text-decoration: none;
                    margin: 0px;
                    padding-top: 0.25vw;
                    padding-bottom: 0.25vw;
                    &:hover{
                        color: $color-letras-alt;
                    }
                }
            }
            .navbar-toggler{
                border: unset;
                color: unset;
                width: 5vw;
                height: 5vw;
                padding: unset;
                .navbar-toggler-icon{
                    width: 4vw;
                    height: 4vw;
                    vertical-align: unset;
                }
            }
            .collapse{
                color: $color-letras-alt;
            }
            .navbar-collapse{
                flex-grow: unset;
            }
            div{
                .navbar-nav{
                    display: flex;
                    flex-direction: row;
                    color: unset;
                    .nav-item{
                        padding: 0.1vw 1.5vw 0.1vw 1.5vw;
                        .nav-link{
                            padding: unset;
                        }
                    }
                }
            }
        }
    }
}