/*!------RUBROS INDEX-----*/
.rubros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        @extend %flex;
        width: 49vw;
        height: 22vw;
        border: map-get($bordes, border);
        border-radius: map-get($bordes, radius);
        margin: 0.5vw;
        transition: 1s;
            &:hover{
                box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.5);
                transform: scale(1s);
            }
        h2{
            font-family: $font-fam-gral;
            color: rgb(0, 0, 0);
            font-size: nth($font-size, 8);
            margin: 0.5vw;
        }
        a{
            p{
                font-family: $font-fam-gral;
                color: rgb(0, 0, 0);
                font-size: nth($font-size, 5);
                text-align: center;
                margin: 0.5vw;
            }
        }
    }
}
/*!------PRODUC DEST INDEX-----*/
.productos-des{
    h2{
        background-color: $color-fondo-nav-titulos-bot;
        color: $color-letras-alt;
        font-family: $font-fam-gral;
        font-size: nth($font-size, 5);
        border: map-get($bordes, border);
        border-radius: map-get($bordes, radius);
        margin: 0.35vw;
        padding: 0.35vw 1.05vw 0.35vw;
    }
    div{
        display: flex;
        justify-content: space-evenly;
        div{
            font-family: $font-fam-gral;
            @include display-2 (flex, space-between, center);
            flex-direction: column;
            background-color: $color-tarj-prod;
            width: 17vw;
            height: 35vw;
            text-align: center;
            border-radius: map-get($bordes, radius);
            margin: 1vw;
            transition: 1s;
                &:hover{
                    box-shadow: 10px 10px 30px -1px rgba(3,3,3,0.56);
                    -webkit-box-shadow: 10px 10px 30px -1px rgba(3,3,3,0.56);
                    -moz-box-shadow: 10px 10px 30px -1px rgba(3,3,3,0.56);
                    transform: scale(1.025);
                }
            img{
                width: 17vw;
                height: 20vw;
                border: map-get($bordes, border);
                border-radius: 1vw 1vw 0px 0px;
            }
            h3{
                font-size: nth($font-size, 2);
                color: black;
                margin: 2vw;
                text-decoration: underline;
            }
            a{
                font-family: $font-fam-gral;
                border: map-get($bordes, border);
                background-color: $color-fondo-nav-titulos-bot;
                color: $color-letras-alt;
                padding: 0.5vw 1vw 0.5vw 1vw;
                margin: 1vw;
                border-radius: map-get($bordes, radius);
                font-size: nth($font-size, 3);
                transition: 1s;
                &:hover{
                    background-color: $color-letras-alt;
                    color: black;
                    transform: scale(1.2);
                    font-weight: 800;
                }
            }
        }
    }
}
/*!------ALIANZAS COM INDEX-----*/
.alianzas{
    h2{
        background-color: $color-fondo-nav-titulos-bot;
        color: $color-letras-alt;
        font-family: $font-fam-gral;
        font-size: nth($font-size, 5);
        border: map-get($bordes, border);
        border-radius: map-get($bordes, radius);
        margin: 0.35vw;
        padding: 0.35vw 1.05vw 0.35vw;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0vw 1.5vw 0vw 1.5vw;
        padding-bottom: 1.5vw;
        img{
            width: 12vw;
            height: 4vw;
            margin: 1vw;
            border: solid 0.25vw white;
            border-radius: 1vw;
            box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.5);
        }
    }
}
/*!------NOSOTROS-----*/
.nuestra-his{
    font-family: $font-fam-gral;
    h2{
        font-size: nth($font-size, 5);
        font-family: $font-fam-empr;
        font-weight: 800;
        margin: 0vw 2vw 0vw 2vw;
        padding-top: 1vw;
    }
    section{
        h3{
            font-size: nth($font-size, 5);
            margin: 3vw 0vw 1vw 3vw;
        }
        div{
            @include display (flex, row, flex-start, center);
            margin: 0vw 2vw 0vw 2vw;
            padding-bottom: 1vw;
            p{
                font-size: nth($font-size, 4);
                text-align: left;
            }
            div{
                img{
                    width: 50vw;
                    height: 20vw;
                    border-radius: map-get($bordes, radius);
                    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                }
                .narciso{
                    width: 20vw;
                    height: 20vw;
                    border-radius: map-get($bordes, radius);
                }
                .div-ferret{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
/*!------CONSTRUCCION-----*/
.ferreteria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30vw;
    gap: 2vw;
    padding: 2vw;
    .estufas-varias{
        grid-row: span 2;
    }
    .estufa{
        grid-row: span 2;
    }
    .prod-mat{
        img{
            width: 100%;
            height: 100%;
            border-radius: map-get($bordes, radius);
            object-fit: cover;
            transition: 1s;
            &:hover{
                transform: scale(1.025);
                box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
            }
        }
    }
}
/*!------AGROINDUSTRIA-----*/
.agroindustria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30vw;
    gap: 2vw;
    padding: 2vw;
    .tubos-alc{
        grid-row: span 3;
        grid-column: span 3;
    }
    .bebederos-25-60-180{
        grid-row: span 2;
        grid-column: span 2;
    }
    .com-feed{
        grid-row: span 2;
        grid-column: span 2;
    }
    .prod-agro{
        img{
            width: 100%;
            height: 100%;
            border-radius: map-get($bordes, radius);;
            object-fit: cover;
            transition: 1s;
            &:hover{
                transform: scale(1.025);
                box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
            }
        }
    }
}
/*!------CONTACTO-----*/
.contactos{
    @extend %flex;
    h2{
        font-size: nth($font-size, 5);
        font-family: $font-fam-empr;
        font-weight: 800;
        margin: 1vw;
    }
    .globos{
        background-color: $color-tarj-contac;
        @include display-2 (flex, center, center);
        font-family: $font-fam-gral;
        border: map-get($bordes, border);
        border-radius: map-get($bordes, radius);
        width: 40%;
        height: 90%;
        margin: 2vw;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        form{
            div{
                @extend %flex;
                margin: 1vw;
                label{
                    font-family: $font-fam-gral;
                    font-size: nth($font-size, 4);
                    font-weight: 700;
                }
                input{
                    border: map-get($bordes, border);
                    border-radius:map-get($bordes, radius);
                    width: 20vw;
                    height: 2vw;
                    padding-left: 0.5vw;
                }
                h3{
                    font-family: $font-fam-gral;
                    font-size: nth($font-size, 4);
                    font-weight: 700;
                }
                select{
                    font-family: $font-fam-gral;
                    font-size: nth($font-size, 1);
                    border: map-get($bordes, border);
                    border-radius: map-get($bordes, radius);
                    width: 20vw;
                    height: 2vw;
                    option{
                        font-family: $font-fam-gral;
                        font-size: nth($font-size, 1);
                    }
                }
                textarea{
                    border: map-get($bordes, border);
                    border-radius: map-get($bordes, radius);
                    width: 25vw;
                    height: 10vw;
                    padding: 0.5vw;
                    font-family: $font-fam-gral;
                    font-size: nth($font-size, 1);
                }
                .botones{
                    background-color: $color-fondo-nav-titulos-bot;
                    color: $color-letras-alt;
                    margin: 0.5vw;
                    border: map-get($bordes, border);
                    border-radius: map-get($bordes, radius);
                    width: 10vw;
                    height: 2vw;
                    font-family: $font-fam-gral;
                    font-size: nth($font-size, 2);
                }
            }
        }
    }
}