/*!------RUBROS INDEX-----*/
.rubros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 22vw;
        border: 0.1vw black solid;
        border-radius: 0.5vw;
        margin: 0.5vw;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        h2{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(0, 0, 0);
            font-size: 4vw;
            margin: 0.5vw;
        }
        a{
            p{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: rgb(0, 0, 0);
                font-size: 2vw;
                text-align: center;
                margin: 0.5vw;
            }
        }
    }
}
/*!------PRODUC DEST INDEX-----*/
.productos-des{
    h2{
        background-color: #e40000;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2vw;
        border: 0.1vw black solid;
        border-radius: 0.5vw;
        margin: 0.35vw;
        padding: 0.35vw 1.05vw 0.35vw;
    }
    div{
        display: flex;
        justify-content: space-evenly;
        div{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #696969;
            width: 17vw;
            height: 35vw;
            text-align: center;
            border-radius: 0.5vw;
            margin: 1vw;
            box-shadow: 10px 10px 30px -1px rgba(3,3,3,0.56);
            -webkit-box-shadow: 10px 10px 30px -1px rgba(3,3,3,0.56);
            -moz-box-shadow: 10px 10px 30px -1px rgba(3,3,3,0.56);
            img{
                width: 17vw;
                height: 20vw;
                border-radius: 0.5vw 0.5vw 0px 0px;
            }
            h3{
                font-size: 1.25vw;
                color: black;
                margin: 2vw;
                text-decoration: underline;
            }
            a{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                border: solid 1px black;
                background-color: #e40000;
                color: white;
                padding: 0.5vw 1vw 0.5vw 1vw;
                margin: 1vw;
                border-radius: 1vw;
                font-size: 1vw;
                &:hover{
                    background-color: white;
                    color: #59614d;
                }
            }
        }
    }
}
/*!------ALIANZAS COM INDEX-----*/
.alianzas{
    h2{
        background-color: #e40000;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2vw;
        border: 0.1vw black solid;
        border-radius: 0.5vw;
        margin: 0.35vw;
        padding: 0.35vw 1.05vw 0.35vw;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1.5vw;
        img{
            width: 12vw;
            height: 4vw;
            margin: 1vw;
            border: solid 0.25vw white;
            border-radius: 1vw;
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        }
    }
}
/*!------NOSOTROS-----*/
.nuestra-his{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h2{
        font-size: 2vw;
        font-family: 'Roboto Slab', serif;
        font-weight: 800;
        margin: 1vw;
    }
    section{
        h3{
            font-size: 2vw;
            margin: 3vw 0vw 1vw 3vw;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0vw 2vw 1vw 2vw;
            p{
                font-size: 1.5vw;
                text-align: left;
            }
            div{
                img{
                    width: 50vw;
                    height: 20vw;
                    border-radius: 0.5vw;
                    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
                }
                .narciso{
                    width: 20vw;
                    height: 20vw;
                    border-radius: 0.5vw;
                }
                .div-ferret{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
/*!------CONSTRUCCION-----*/
.ferreteria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30vw;
    gap: 2vw;
    padding: 2vw;
    .estufas-varias{
        grid-row: span 2;
    }
    .estufa{
        grid-row: span 2;
    }
    .prod-mat{
        img{
            width: 100%;
            height: 100%;
            border-radius: 1vw;
            object-fit: cover;
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        }
    }
}
/*!------AGROINDUSTRIA-----*/
.agroindustria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30vw;
    gap: 2vw;
    padding: 2vw;
    .tubos-alc{
        grid-row: span 3;
        grid-column: span 3;
    }
    .bebederos-25-60-180{
        grid-row: span 2;
        grid-column: span 2;
    }
    .com-feed{
        grid-row: span 2;
        grid-column: span 2;
    }
    .prod-agro{
        img{
            width: 100%;
            height: 100%;
            border-radius: 1vw;
            object-fit: cover;
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        }
    }
}
/*!------CONTACTO-----*/
.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 2vw;
        font-family: 'Roboto Slab', serif;
        font-weight: 800;
        margin: 1vw;
    }
    .globos{
        background-color: #92929281;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1px solid black;
        border-radius: 1vw;
        width: 40%;
        height: 90%;
        margin: 2vw;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
        form{
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1vw;
                label{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 1.5vw;
                    font-weight: 700;
                }
                input{
                    border: solid black 0.1vw;
                    border-radius: 0.5vw;
                    width: 20vw;
                    height: 2vw;
                    padding-left: 0.5vw;
                }
                h3{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 1.5vw;
                    font-weight: 700;
                }
                select{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 1vw;
                    border: solid black 0.1vw;
                    border-radius: 0.5vw;
                    width: 20vw;
                    height: 2vw;
                    option{
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 1vw;
                    }
                }
                textarea{
                    border: solid 1px black;
                    border-radius: 10px;
                    width: 25vw;
                    height: 10vw;
                    padding: 0.5vw;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 1vw;
                }
                .botones{
                    background-color: #e40000;
                    color: white;
                    margin: 0.5vw;
                    border: solid 1px black;
                    width: 10vw;
                    height: 2vw;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 1.25vw;
                }
            }
        }
    }
}