@media screen and (max-width: 991px){
    header{
        nav{
            div{
                h1{
                    .navbar-brand{
                        font-size: 40px;
                    }
                }
            }
        }
    }
    .productos-des{
        h2{
            text-align: center;
            font-size: nth($font-size, 6);
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            div{
                width: 25vw;
                height: 40vw;
                img{
                    width: 25vw;
                    height: 22vw;
                }
                h3{
                    font-size: nth($font-size, 5);
                }
                a{
                    font-size: nth($font-size, 5);
                }
            }
        }
    }
    .alianzas{
        h2{
            text-align: center;
            font-size: nth($font-size, 6);
        }
        div{
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
            justify-items: center;
        }
    }
    .ferreteria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 60vw;
        .estufas-varias{
            grid-row: unset;
        }
        .estufa{
            grid-row: unset;
        }
        .prod-mat{
            display: map-get($distrib, display);
            flex-direction: map-get($distrib, flex-dir);
            justify-content: map-get($distrib, just-cont);
            align-items: map-get($distrib, align-i);
            img{
                border-radius: 1vw;
                object-fit: cover;
            }
        }
    }
    /*!------AGROINDUSTRIA------*/
    .agroindustria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 46vw;
        .tubos-alc{
            grid-row: unset;
            grid-column: unset;
        }
        .bebederos-25-60-180{
            grid-row: unset;
            grid-column: unset;
        }
        .com-feed{
            grid-row: unset;
            grid-column: unset;
        }
        .prod-agro{
            display: map-get($distrib, display);
            flex-direction: map-get($distrib, flex-dir);
            justify-content: map-get($distrib, just-cont);
            align-items: map-get($distrib, align-i);
            img{
                border-radius: 1vw;
                object-fit: contain;
            }
        }
    }
    /*!------NOSOTROS------*/
    .nuestra-his{
        h2{
            font-size: nth($font-size, 7);
        }
        section{
            h3{
                font-size: nth($font-size, 7);
            }
            div{
                p{
                    font-size: nth($font-size, 5);
                }
                .hist-ferr{
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
            .hist-prem{
                display: flex;
                flex-direction: column;
                p{
                    font-size: nth($font-size, 5);
                }
            }
            .hist-nues{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
        /*!------CONTACTOS------*/
        .contactos{
            h2{
                font-size: nth($font-size, 8);
            }
            .globos{
                width: 70vw;
                height: 95vw;
                form{
                    div{
                        label{
                            font-size: nth($font-size, 7);
                        }
                        input{
                            width: 60vw;
                            height: 6vw;
                        }
                        h3{
                            font-size: nth($font-size, 7);
                        }
                        select{
                            font-size: nth($font-size, 7);
                            width: 60vw;
                            height: 6vw;
                        }
                        textarea{
                            width: 60vw;
                            height: 20vw;
                            font-size: nth($font-size, 7);
                        }
                        .botones{
                            width: 20vw;
                            height: 4vw;
                            font-size: nth($font-size, 6);
                        }
                    }
                }
            }
        }
@media screen and (max-width: 530px){
    .barra-nav{
        display: flex;
        flex-direction: column;
        position: static;
        nav{
            div{
                h1{
                    padding: 0px;
                    a{
                        font-size: 30px;
                    }
                }
                div{
                    ul{
                        li{
                            padding: 0px;
                            margin: 0vw 1vw 0vw 1vw;
                        }
                    }
                    
                }
            }
        }
    }
    /*!------IND------*/
    main{
    .carousel{
        display: none;
    }
    .rubros{
        display: map-get($distrib, display);
        flex-direction: map-get($distrib, flex-dir);
        justify-content: map-get($distrib, just-cont);
        align-items: map-get($distrib, align-i);
        div{
            margin: 0.25vw;
            width: 75vw;
            height: 20vw;
            box-shadow: none;
            h2{
                font-size: nth($font-size, 9);
            }
            a{
                p{
                    font-size: nth($font-size, 6);
                }
            }
        }   
    }
        .productos-des{
            h2{
                text-align: center;
                font-size: nth($font-size, 8);
            }
            div{
                display: map-get($distrib, display);
                flex-direction: map-get($distrib, flex-dir);
                justify-content: map-get($distrib, just-cont);
                align-items: map-get($distrib, align-i);
                div{
                    width: 30vw;
                    height: 45vw;
                    img{
                        width: 30vw;
                        height: 27vw;
                    }
                    h3{
                        font-size: nth($font-size, 7);
                    }
                    a{
                        font-size: nth($font-size, 6);
                    }
                }
                .taladro{
                    grid-column: span 2;
                }
            }
        }
    .alianzas{
        display: none;
    }
    .ferreteria{
    width: 100%;
        display: flex;
        flex-direction: column;
        .prod-mat{
            display: map-get($distrib, display);
            flex-direction: map-get($distrib, flex-dir);
            justify-content: map-get($distrib, just-cont);
            align-items: map-get($distrib, align-i);
            img{
            width: 60%;
            height: 70%;
                border-radius: 1vw;
                object-fit: contain;
            }
        }
    }
    .agroindustria{
        width: 100%;
        display: flex;
        flex-direction: column;
        .prod-agro{
            display: map-get($distrib, display);
            flex-direction: map-get($distrib, flex-dir);
            justify-content: map-get($distrib, just-cont);
            align-items: map-get($distrib, align-i);
            img{
                width: 60%;
                height: 70%;
                border-radius: 1vw;
                object-fit: cover;
            }
        }
    }
}
/*!------NOSOTROS------*/
        h2{
            font-size: nth($font-size, 8);
        }
        section{
            h3{
                font-size: nth($font-size, 8);
            }
            div{
                p{
                    font-size: nth($font-size, 7);
                }
                .hist-ferr{
                    display: flex;
                    flex-direction: column-reverse;
                }
                .hist-nues{
                    display: flex;
                    flex-direction: column;
                }
            }
            .hist-prem{
                display: flex;
                flex-direction: column;
                p{
                    font-size: nth($font-size, 7);
                }
            }
        }
        /*!------CONTACTOS------*/
        .contactos{
            h2{
                font-size: nth($font-size, 8);
            }
            .globos{
                width: 70vw;
                height: 95vw;
                form{
                    div{
                        label{
                            font-size: nth($font-size, 7);
                        }
                        input{
                            width: 60vw;
                            height: 6vw;
                        }
                        h3{
                            font-size: nth($font-size, 7);
                        }
                        select{
                            font-size: nth($font-size, 7);
                            width: 60vw;
                            height: 6vw;
                        }
                        textarea{
                            width: 60vw;
                            height: 20vw;
                            font-size: nth($font-size, 7);
                        }
                        .botones{
                            width: 20vw;
                            height: 4vw;
                            font-size: nth($font-size, 6);
                        }
                    }
                }
            }
        }
    /*!------FOOTER------*/
    .pie-grid{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .foot-cont{
            .mapa{
                width: 5vw;
                height: 5vw;
            }
            .foot-nav{
                display: none;
            }
            .pie-prod{
                display: none;
            }
            ul{
                display: flex;
                flex-direction: row;
                margin-bottom: unset;
                li{
                    a{
                        width: 5vw;
                        height: 5vw;
                    }
                }
            }
        }
    }
}