//* VARIABLES

//!---COLORES---//
$color-fondo-nav-titulos-bot: #e40000;
$color-fondos-gral:rgba(245, 245, 245, 0.89);
$color-letras-alt: white;
$color-fondo-foot: #797979b7;
$color-tarj-prod:#696969;
$color-tarj-contac: #92929281;

//!---FUENTES---/
$font-fam-empr: 'Roboto Slab', serif;
$font-fam-gral: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


//* LISTAS

$font-size: 1vw, 1.25vw, 1.3vw, 1.5vw, 2vw, 2.5vw, 3vw, 4vw, 5vw, 8vw;
//* numero    1     2       3     4      5    6     7     8   9    10/



//* MAPAS

//!---BORDES---/
$bordes:(
    border:1px solid black,
    radius:1vw,
);

//!---DISTRIBUCION---/
$distrib:(
    display: flex,
    flex-dir: column,
    just-cont:center,
    align-i: center,
);


//* EXTENDS

//!---FLEX 4 COMPONENTES---/
%flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//!---FLEX 3 COMPONENTES---/
%flex-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


//* MIXIN

//!---DISTRIBUCION 4 COMPONENTES---/
@mixin display($flex, $direction, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//!---DISTRIBUCION 3 COMPONENTES---/
@mixin display-2($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}